<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <!-- Add this to <head> -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link href="font/css/open-iconic-bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container" class="container mt-2">
        <div id="options" class="mb-2">
            <div class="row">
                <div id="search-fun" class="col-9 px-0 bg-purple-dark container">
                    <input type="text" v-model='search_term' class="bg-purple-dark" placeholder="Enter text to filter lists">
                </div>
                <div class="col-3 bg-purple-light" id="todobutton" @click="createNewTODO">
                    Create
                </div>
            </div>

        </div>
        <div id="header">
            <div class="row">
                <div class="col mx-1 bg-purple-dark">
                    TODO
                </div>
                <div class="col mx-1 bg-purple">
                    IN PROGRESS
                </div>
                <div class="col mx-1 bg-purple-light">
                    DONE
                </div>
            </div>
        </div>
        <div id="lists">
            <div class="row">
                <draggable v-model="TODO" class="dragArea col mx-1 bg-purple-dark" :options="{group:'tasks'}" :move="checkMove" name="todo">
                    <div class="task-card row" v-for="(element, index) in filteredTODO">
                        <div class="card-text col-10">
                            <h1>{{element.name}}</h1>
                            <p>{{element.description}}</p>
                        </div>
                        <div class="card-actions col-2 py-1">
                            <span class="oi oi-x" v-on:click="removeElement(TODO, index)"></span>
                            <span class="oi oi-text" v-on:click="editElement(TODO, index)"></span>
                        </div>
                    </div>
                </draggable>
                <draggable v-model="IN_PROGRESS" class="dragArea col mx-1 bg-purple" :options="{group:'tasks'}" :move="checkMove" name="in_progress">
                    <div class="task-card row" v-for="(element, index) in filteredIN_PROGRESS">
                        <div class="card-text col-10">
                            <h1>{{element.name}}</h1>
                            <p>{{element.description}}</p>
                        </div>
                        <div class="card-actions col-2 py-1">
                            <span class="oi oi-x" v-on:click="removeElement(IN_PROGRESS, index)"></span>
                            <span class="oi oi-text" v-on:click="editElement(IN_PROGRESS, index)"></span>
                        </div>
                    </div>
                </draggable>
                <draggable v-model="DONE" class="dragArea col mx-1 bg-purple-light" :options="{group:'tasks'}" :move="checkMove" name="done">
                    <div class="task-card row" v-for="(element, index) in filteredDONE">
                        <div class="card-text col-10">
                            <h1>{{element.name}}</h1>
                            <p>{{element.description}}</p>
                        </div>
                        <div class="card-actions col-2 py-1">
                            <span class="oi oi-x" v-on:click="removeElement(DONE, index)"></span>
                            <span class="oi oi-text" v-on:click="editElement(DONE, index)"></span>
                        </div>
                    </div>
                </draggable>
            </div>

        </div>

    </div>
    <div id="todo-editor">
        <b-modal ref="modal" title="Create new task" @ok="handleOk">
            <form @submit.stop.prevent="handleSubmit">
                <b-form-input type="text" placeholder="Enter task name" v-model="name"></b-form-input>
                <b-form-textarea id="textarea1" v-model="description" placeholder="Enter a description" :rows="3" :max-rows="6">
                </b-form-textarea>
            </form>
        </b-modal>
    </div>
</body>
<!-- Vue.js -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- Bootstrap-vue added after vue.js -->
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<!-- CDNJS :: Sortable (https://cdnjs.com/) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>
<!-- localforge used to maintain state -->
<script src="js/localforage.js"></script>
<!-- application logic -->
<script src="js/index.js"></script>

</html>